/* css for sign up page (signup.html) */

* {
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}


a {
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

h5 {
    color: #828282;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 370px; */
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(216, 214, 214);
    background-color: #fff;
    padding: 5px 8px 30px 8px;
    height: 50%;
    max-width: 350px;
}

.container .he1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.container .he1 img {
    padding-top: 10px;
}

.container .he1 p {
    width: 77%;
    font-size: 18px;
    color: gray;
    font-weight: 500;
}

.linediv {
    height: 15px;
    width: 32%;
    border-top: 1px solid black;
    margin-top: 15px;
}

center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.field input {
    display: flex;
    background-color: #fafafa;
    padding: 10px 20px;
    border: 1px solid #f0e9e9;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    width: 145%;
}

.field input:focus {
    border: 2px ridge rgba(216, 214, 214, 0.808);
}

.other {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.other p {
    color: #828282;
    font-size: 100px;
    font-size: 12px;
    font-weight: 400;
}

.other a {
    color: rgb(28, 92, 230);
}


.but {
    display: flex;
    justify-content: center;
    background-color: rgb(34, 157, 240);
    border: none;
    border-radius: 12px;
    color: #fff;
    width: 80%;
    padding: 10px 10px;
    font-size: 15px;
}

.but:hover {
    background-color: rgb(10, 113, 182);
}

.but1 {
    display: flex;
    justify-content: center;
    background-color: rgb(34, 157, 240);
    border: none;
    border-radius: 12px;
    color: #fff;
    width: 80%;
    padding: 10px 10px;
    font-size: 15px;
}

.but1:hover {
    background-color: rgb(10, 113, 182);
}

.he2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    background-color: #fff;
    border: 1px solid rgb(216, 214, 214);
    padding: 10px 8px 10px 8px;
    min-width: 350px;
}

.he2 p {
    font-size: 14px;
}

.he2 a {
    color: rgb(34, 166, 243);
}




.mfoot p {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    font-size: 14px;
    text-align: center;
    margin-top: 1000px;
}

footer a {
    color: #828282;
    font-size: 12px;
}

footer a:hover {
    text-decoration: underline;
}

footer ul li {
    color: #828282;
    font-size: 12px;
}

.footone {
    display: flex;
    justify-content: center;
    width: 100%;
}


.foottwo {
    display: flex;
    justify-content: center;
    width: 100%;
}



@media screen and (max-width:695px) {

    footer {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .footone ul {
        display: flex;
        flex-wrap: wrap;
    }

}


@media screen and (max-width:411px) {
    .mfoot p {
        display: none;
    }

    .footone {
        margin-top: 20px;
    }
}